@page
@model HipicaFacilSQL.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h4 class="fs-2 mt-2 "><i class="fa-solid fa-magnifying-glass"></i>  - Detalhes dos Cliente</h4>
    <hr />
        <div class="row">
            <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Nome:</p>
            @Html.DisplayFor(model => model.Cliente.Nome)
            </div>
            <div class="col-sm-4">
            <p class="font-weight-bold mt-2">CPF:</p>
            @Html.DisplayFor(model => model.Cliente.Cpf)
            </div>
            <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Telefone:</p>
            @Html.DisplayFor(model => model.Cliente.Telefone)
            </div>
        </div>
        <br />
    <div class="row">
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">E-mail:</p>
            @Html.DisplayFor(model => model.Cliente.Email)
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Endereço:</p>
            @Html.DisplayFor(model => model.Cliente.Endereco)
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Cidade:</p>
            @Html.DisplayFor(model => model.Cliente.Cidade)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">CEP:</p>
            @Html.DisplayFor(model => model.Cliente.Cep)
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Complemento:</p>
            @Html.DisplayFor(model => model.Cliente.Complemento)
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold mt-2">Bairro:</p>
            @Html.DisplayFor(model => model.Cliente.Bairro)
        </div>
    </div>    
</div>
<hr />
<div>
    <a asp-page="./Index"><i class="fa-solid fa-backward-step" ></i> Voltar para a tabela </a> |
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.ID"><i class="fa-solid fa-pen"></i> Editar Cliente</a>
</div>
