@page
@model HipicaFacilSQL.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Clientes</h1>
<br />

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fa-solid fa-pen"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa-solid fa-magnifying-glass"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>