@page
@model HipicaFacilSQL.Pages.Produtos.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Produto";
} 

    <div class="container">
        <h4 class="fs-2 mt-2"><i class="fa-solid fa-magnifying-glass"></i>&ensp;Detalhes do Produto</h4>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <p class="font-weight-bold mt-2">Nome:</p>
                @Html.DisplayFor(model => model.Produto.Nome)
            </div>
            <div class="col-sm-4">
                <p class="font-weight-bold mt-2">Validade:</p>
                @Html.DisplayFor(model => model.Produto.Validade)
            </div>
            <div class="col-sm-4">
                <p class="font-weight-bold mt-2">Descrição:</p>
                @Html.DisplayFor(model => model.Produto.Descricao)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p class="font-weight-bold mt-2">Tipo:</p>
                @Html.DisplayFor(model => model.Produto.Tipo)
            </div>
            <div class="col-sm-4">
                <p class="font-weight-bold mt-2">Quantidade:</p>
                @Html.DisplayFor(model => model.Produto.Quantidade)
            </div>
        </div>
        <hr />
    </div>

<div>
    <a asp-page="./Index"><i class="fa-solid fa-backward-step"></i> Voltar para a tabela </a> |
    <a asp-page="./Edit" asp-route-id="@Model.Produto.ID"><i class="fa-solid fa-pen"></i> Editar Produto</a>
</div>
