@page
@model HipicaFacilSQL.Pages.Financas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Quantidade)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Financa.ID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index"><i class="fa-solid fa-backward-step"></i> Voltar para a tabela </a>
    </form>
</div>
