@page
@model HipicaFacilSQL.Pages.Financas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="fs-2"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i>&ensp;Remover Receita/Despesa</h1>
<hr />
<h3>Tem certeza que deseja remover o(a) receita/despesa?</h3>
<br />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Valor):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Valor)
        </dd>
        <dt class="col-sm-2">
            Descriçãp:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Tipo):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Quantidade):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Quantidade)
        </dd>
    </dl>

    <form method="post" id="delete-form">
        <input type="hidden" asp-for="Financa.ID" />
        <input type="submit" value="Apagar" class="btn btn-danger" id="submit-button" />
        <div id="submit-icon" style="display: none;">
            <i id="loading-icon-submit" class="fas fa-spinner fa-spin fa-2xl"></i>
            <i id="success-icon-submit" class="fas fa-check text-success fa-2xl" style="display: none; color:green"></i>
        </div>
    </form>
    <hr />
    <a asp-page="./Index"><i class="fa-solid fa-backward-step"></i> Voltar</a>
</div>

<script>
    document.getElementById('delete-form').addEventListener('submit', function (event) {
        event.preventDefault();

        var submitButton = document.getElementById('submit-button');
        var submitIconContainer = document.getElementById('submit-icon');
        var loadingIcon = document.getElementById('loading-icon-submit');
        var successIcon = document.getElementById('success-icon-submit');

        submitButton.style.display = 'none';
        submitIconContainer.style.display = 'inline';

        setTimeout(function () {
            loadingIcon.style.display = 'none';
            successIcon.style.display = 'inline';

            setTimeout(function () {
                document.getElementById('delete-form'').submit();
            }, 1000);
        }, 1000);
    });

</script>