@page
@model HipicaFacilSQL.Pages.Financas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes receita/despesa</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Financa.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Financa.Quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index"><i class="fa-solid fa-backward-step"></i> Voltar para a tabela </a> |
    <a asp-page="./Edit" asp-route-id="@Model.Financa.ID"><i class="fa-solid fa-pen"></i> Editar Lucro/Despesa</a>
</div>
