@page
@model HipicaFacilSQL.Pages.Cavalos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="fs-2"><i class="fas fa-horse"></i>&ensp;Cavalos</h1>
<hr />
<br />

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-page="Create"> <i id="iconeAdd" class=" fa-solid fa-circle-plus fa-lg" style="color:green" align="right"></i>&ensp;Novo Cavalo&ensp;</a>
            | &ensp;Encontre pelo Nome:&ensp;
            <input type="text" name="SearchString" style="border-radius:5px" value="@Model.CurrentFilter" />&ensp;
            <input type="submit" value="Pesquisar" class="btn btn-primary" />&ensp; |
            <a asp-page="./Index"><i id="iconeAtt" class="fa-solid fa-rotate-right"></i>&ensp;Atualizar página</a>&ensp;&ensp;&ensp;&ensp;
        </p>
    </div>
</form>
<div class="table-responsive">
<table class="table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NomeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Cavalos[0].Nome)
                    <i class="fa fa-sort-alpha-asc"></i>
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PropSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Cavalos[0].Proprietario)
                    <i class="fa fa-sort-alpha-asc"></i>
                </a>
            </th>
            <th>
                Raça
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cavalos[0].Peso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cavalos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proprietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fas fa-pencil fa-fw"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa-solid fa-magnifying-glass"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<hr />
@{
    var prevDisabled = !Model.Cavalos.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Cavalos.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.Cavalos.PageIndex - 1)" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled" style="color: #dbae3f">
    <i class="fa-solid fa-arrow-left fa-fw" style="color:black" title="Voltar"></i>
</a>

<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.Cavalos.PageIndex + 1)" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled" style="color: #dbae3f">
    <i class="fa-solid fa-arrow-right fa-fw" style="color:black" title="Avançar"></i>
</a>